
<body style="background-image: url('assets/stem5.jpg');background-size: cover;">
    <div fxLayout="row" fxLayoutAlign="space-around center"  >
    <div style="width: 500px; height: 300px; background-image: url('assets/STEEM.jpg');background-size: cover; margin-top: 50px;   " > 
    <mat-card style="margin-top: 300px;">NSF director Rita Colwell, after expressing dislike for the older acronym, suggested that the NSF make the change to STEM. The first NSF project to use the new acronym was a 1997 initiative at the University of Massachusetts Amherst.</mat-card>
    
    </div>
    <div style="background-image: url('assets/stem8.jpg'); width: 500px; height: 300px;background-size: cover;margin-top: 50px;   ">
    <mat-card style="margin-top: 300px;">
        STEM is the acronym referring to the academic principles of Science, Technology, Engineering and Mathematics.
    </mat-card>
    </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center"  >
        <div style="width: 500px; height: 300px; background-image: url('assets/STEEM.jpg');background-size: cover; margin-top: 50px;   " > 
        <mat-card style="margin-top: 300px;">NSF director Rita Colwell, after expressing dislike for the older acronym, suggested that the NSF make the change to STEM. The first NSF project to use the new acronym was a 1997 initiative at the University of Massachusetts Amherst.</mat-card>
        
        </div>
        <div style="background-image: url('assets/stem8.jpg'); width: 500px; height: 300px;background-size: cover;margin-top: 50px;   ">
        <mat-card style="margin-top: 300px;">
            STEM is the acronym referring to the academic principles of Science, Technology, Engineering and Mathematics.
        </mat-card>
        </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center"  >
            <div style="width: 500px; height: 300px; background-image: url('assets/STEEM.jpg');background-size: cover; margin-top: 50px;   " > 
            <mat-card style="margin-top: 300px;">NSF director Rita Colwell, after expressing dislike for the older acronym, suggested that the NSF make the change to STEM. The first NSF project to use the new acronym was a 1997 initiative at the University of Massachusetts Amherst.</mat-card>
            
            </div>
            <div style="background-image: url('assets/stem8.jpg'); width: 500px; height: 300px;background-size: cover;margin-top: 50px;   ">
            <mat-card style="margin-top: 300px;">
                STEM is the acronym referring to the academic principles of Science, Technology, Engineering and Mathematics.
            </mat-card>
            </div>
            </div>
</body>