<div  fxLayout="row" fxLayoutAlign="center center">
    <mat-card style="margin-top: 50px;width: 400px;height: 500px;background-color: white;">
  
      <h3 style="text-align: center;color: black;font-family: 'Rubik', sans-serif">IMPROVE YOUR CAREER IN STEM</h3>
      <h5 style="text-align: center;color: black;font-family: 'Rubik', sans-serif">“If your actions inspire others to dream more, learn more, do more and become more, you are a leader."
        John Quincy Adams 6TH US PRESIDENT</h5>
        <h5 style="text-align: center;color: black;font-family: 'Rubik', sans-serif">Becoming STEM ambassador you can play a role in inspiring young people with STEM related subjects and careers in the Country.
        </h5>
  
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Select Your Profesion</mat-label>
          <select matNativeControl required style="color: black;">
            <option value="As Guest">Innovator</option>
            <option value="As Producer">Stem volunteer </option>
            <option value="As Musician">Student</option>
          </select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput style="color: black;" required>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput style="color: black;" required>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput style="color: black;" required>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput style="color: black;" required>
        </mat-form-field>
  
      </form>
      <button mat-raised-button style="width: 100%;background-color:#448AFF;">Register</button>
  
    </mat-card>
  </div>
  
